<div class="container">

  <div class="comment-form-container text-center col-10">
    <h3 class="mt-2"> Comments </h3>
    <form class="mt-0">
      <small> Leave a comment </small><br>
      <input type="text" [(ngModel)]="commentForm.comment" name="comment"/>
      <button class="ml-2" (click)="submitComment()"> Submit </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>

  <div *ngFor="let comment of comments">
    <app-individual-comment [oneComment]=comment></app-individual-comment>
  </div>

</div>